{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

        <link rel="stylesheet"  href="{%  static  'css/bootstrap.min.css'  %}">
        <link rel="stylesheet"  href="{%  static  'css/home_style.css'  %}">
</head>

<body>

   <header>
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="site-nav-wrapper">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand smooth-scroll">

                            News Recommendation System

                        </a>
                    </div>

                    <div class="container">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav pull-right">
                                <li><a class="smooth-scroll" href="#">LogIn</a></li>
                                <li><a class="smooth-scroll" href="#">Register</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
   </header>

    <div id="about">

        <div class="content-box-md">

            <div class="container">

                <div class="row">

                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <div class="about-item text-center">
                            <a href="{{object2.URL}}">
                                <h3>{{object2.Title}}</h3>
                                <hr>
                                <p>Author: {{object2.Author}}</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <div class="about-item text-center">
                            <a href="{{object3.URL}}">
                                <h3>{{object3.Title}}</h3>
                                <hr>
                                <p>Author: {{object3.Author}}</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <div class="about-item text-center">

                            <a href="{{object4.URL}}">
                                <h3>{{object4.Title}}</h3>
                                <hr>
                                <p>Author: {{object4.Author}}</p>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <div class="about-item text-center">

                            <a href="{{object5.URL}}">
                                <h3>{{object5.Title}}</h3>
                                <hr>
                                <p>Author: {{object5.Author}}</p>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <div class="about-item text-center">

                            <a href="{{object6.URL}}">
                                <h3>{{object6.Title}}</h3>
                                <hr>
                                <p>Author: {{object6.Author}}</p>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <div class="about-item text-center">

                            <a href="{{object7.URL}}">
                                <h3>{{object7.Title}}</h3>
                                <hr>
                                <p>Author: {{object7.Author}}</p>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <div class="about-item text-center">

                            <a href="{{object8.URL}}">
                                <h3>{{object8.Title}}</h3>
                                <hr>
                                <p>Author: {{object8.Author}}</p>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <div class="about-item text-center">

                            <a href="{{object9.URL}}">
                                <h3>{{object9.Title}}</h3>
                                <hr>
                                <p>Author: {{object9.Author}}</p>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <div class="about-item text-center">

                            <a href="{{object10.URL}}">
                                <h3>{{object10.Title}}</h3>
                                <hr>
                                <p>Author: {{object10.Author}}</p>
                                <br><br>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <div class="about-item text-center">

                            <a href="{{object11.URL}}">
                                <h3>{{object11.Title}}</h3>
                                <hr>
                                <p>Author: {{object11.Author}}</p>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <div class="about-item text-center">

                            <a href="{{object12.URL}}">
                                <h3>{{object12.Title}}</h3>
                                <hr>
                                <p>Author: {{object12.Author}}</p>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <div class="about-item text-center">

                            <a href="{{object13.URL}}">
                                <h3>{{object13.Title}}</h3>
                                <hr>
                                <p>Author: {{object13.Author}}</p>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>