{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

        <link rel="stylesheet"  href="{%  static  'css/bootstrap.min.css'  %}">
        <link rel="stylesheet"  href="{%  static  'css/home_style.css'  %}">
</head>

<body>

   <header>
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="site-nav-wrapper">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand smooth-scroll">

                            News Recommendation System

                        </a>
                    </div>

                    <div class="container">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav pull-right">
                                {% if user.is_authenticated %}
                                <li><a class="smooth-scroll" href="{% url 'logout'%}">LogOut</a></li>
                                {% else %}
                                <li><a class="smooth-scroll" href="{% url 'login'%}">LogIn</a></li>
                                <li><a class="smooth-scroll" href="{% url 'register'%}">Register</a></li>
                                {% endif %}

                            </ul>
                            <form action="search" method="post" style="position: absolute; top: 10px; right: 90px;">
                            {% csrf_token%}
                            <input type="text" name="search">
                            <input type="submit" class="btn btn-light" value="Search">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
   </header>

    <div id="about">

        <div class="content-box-md">

            <div class="container">

                <div class="row">

                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <div class="about-item text-center ht1" style="height: 270px">
                            <a href="{%url 'content' object2.id %}">
                                <h3>{{object2.Title}}</h3>
                                <hr>
                                <p>Author: {{object2.Author}}</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <div class="about-item text-center ht1" style="height: 270px">
                            <a href="{%url 'content' object3.id %}">
                                <h3>{{object3.Title}}</h3>
                                <hr>
                                <p>Author: {{object3.Author}}</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <div class="about-item text-center ht1" style="height: 270px">

                            <a href="{%url 'content' object4.id %}">
                                <h3>{{object4.Title}}</h3>
                                <hr>
                                <p>Author: {{object4.Author}}</p>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <div class="about-item text-center ht1" style="height: 270px">

                            <a href="{%url 'content' object5.id %}">
                                <h3>{{object5.Title}}</h3>
                                <hr>
                                <p>Author: {{object5.Author}}</p>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <div class="about-item text-center ht1" style="height: 270px">

                            <a href="{%url 'content' object6.id %}">
                                <h3>{{object6.Title}}</h3>
                                <hr>
                                <p>Author: {{object6.Author}}</p>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <div class="about-item text-center ht1" style="height: 270px">

                            <a href="{%url 'content' object7.id %}">
                                <h3>{{object7.Title}}</h3>
                                <hr>
                                <p>Author: {{object7.Author}}</p>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <div class="about-item text-center ht1" style="height: 270px">

                            <a href="{%url 'content' object8.id %}">
                                <h3>{{object8.Title}}</h3>
                                <hr>
                                <p>Author: {{object8.Author}}</p>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <div class="about-item text-center ht1" style="height: 270px">

                            <a href="{%url 'content' object9.id %}">
                                <h3>{{object9.Title}}</h3>
                                <hr>
                                <p>Author: {{object9.Author}}</p>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <div class="about-item text-center ht1" style="height: 270px">

                            <a href="{%url 'content' object10.id %}">
                                <h3>{{object10.Title}}</h3>
                                <hr>
                                <p>Author: {{object10.Author}}</p>
                                <br><br>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <div class="about-item text-center ht1" style="height: 270px">

                            <a href="{%url 'content' object11.id %}">
                                <h3>{{object11.Title}}</h3>
                                <hr>
                                <p>Author: {{object11.Author}}</p>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <div class="about-item text-center ht1" style="height: 270px">

                            <a href="{%url 'content' object12.id %}">
                                <h3>{{object12.Title}}</h3>
                                <hr>
                                <p>Author: {{object12.Author}}</p>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInLeft">

                        <div class="about-item text-center ht1" style="height: 270px">

                            <a href="{%url 'content' object13.id %}">
                                <h3>{{object13.Title}}</h3>
                                <hr>
                                <p>Author: {{object13.Author}}</p>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>